<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
        <productive_minds translate="label" module="productivemindscore">
            <label>Productiveminds-Modules</label>
            <sort_order>188</sort_order>
        </productive_minds>
    </tabs>
    <sections>
	<productivemindscore_sectns translate="label" module="productivemindscore">
        <label>Productiveminds Core</label>
        <tab>productive_minds</tab>
        <frontend_type>text</frontend_type>
        <sort_order>10</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
		<groups>
      		<contactus translate="label" module="productivemindscore">
               	<label>Productiveminds Contact Information</label>
               	<frontend_type>text</frontend_type>
               	<frontend_model>productivemindscore/adminhtml_system_config_form_fieldset_contactus</frontend_model>
               	<sort_order>10</sort_order>
              	<show_in_default>1</show_in_default>
             	<show_in_website>1</show_in_website>
               	<show_in_store>1</show_in_store>
               	<expanded>1</expanded>
        	</contactus>
           	<extensions translate="label" module="productivemindscore">
              	<label>Installed Productiveminds Extensions</label>
             	<frontend_type>text</frontend_type>
               	<frontend_model>productivemindscore/adminhtml_system_config_form_fieldset_promindsextensions_item</frontend_model>
               	<sort_order>20</sort_order>
               	<show_in_default>1</show_in_default>
               	<show_in_website>0</show_in_website>
               	<show_in_store>0</show_in_store>
               	<expanded>1</expanded>
        	</extensions>
    	</groups>
    </productivemindscore_sectns>
    </sections>
</config>