/*
e000 - Arrow right
f053 - Arrow left
f077 - Arrow up
f078 - Arrow down
f05a - Info
f071 - Alert
f00c - Checkmark
f00d - Delete (remove, X)
f0c9 - Three lines (menu)
f07a - Cart
f09c - Unlocked
f023 - Locked
f0c5 - Compare (duplicate papers)
f044 - Write to square
f041 - Map marker
f002 - Search
f068 - Minus sign
f067 - Plus sign
f004 - Full heart
f08a - Empty heart
f006 - Empty star
f005 - Full star
e001 - Trash can
*/
@font-face {
  font-family: 'polar-icons';
  src: url('polar-icons.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
        url('polar-icons.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('polar-icons.ttf') format('truetype'), /* Opera, Safari */
        url('polar-icons.svg#font') format('svg'); /* iOS */
}
@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?23557918');
  src: url('fontello.eot?23557918#iefix') format('embedded-opentype'),
       url('fontello.woff?23557918') format('woff'),
       url('fontello.ttf?23557918') format('truetype'),
       url('fontello.svg?23557918#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23557918#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before, .arrow-icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow_left:before, .arrow-icon.left:before { content: '\e800'; } /* '' */
.icon-arrow_right:before, .arrow-icon.right:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-share:before { content: '\e808'; } /* '' */
.icon-bag:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-envelope:before { content: '\e80b'; } /* '' */
.icon-submit:before { content: '\e80c'; } /* '' */
.icon-delete:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-pinterest:before { content: '\e80f'; } /* '' */
.icon-arrow_down:before { content: '\e810'; } /* '' */
.icon-gplus:before { content: '\e811'; } /* '' */