#address-verification-results .clear{clear:both;}

.iwd_modal_container{
    left: 0;
    margin: 0 auto;
    position: fixed;
    top: 150px;
    width: 98%;
    z-index: 10000;
}
.av-mobile-device .iwd_modal_container{
	position:relative;
	top:0;
}

.iwdav_modal{border:4px solid #9e9e9e; background-color:#fff;/*position:absolute;top:600px;z-index:10000;*/margin:0 auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.iwdav_modal_inner{border:1px solid #8b8a87;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/*.av-mobile-device .modal{position:relative !important;left:auto !important;top:0px !important;width:98% !important;height:auto !important;margin:10px auto;}*/

.av-mobile-device .iwdav_modal{/*width:100%;*/}
.iwdav_modal .iwd_container{background:transparent;margin: 5px;padding:15px 20px 0px;max-height:350px;overflow:auto;}
.av-mobile-device .iwdav_modal .iwd_container{max-height:auto;overflow:none;}

.iwdav_modal .iwd_container .h3{color:#348DBC;font-size:20px;}
.iwdav_modal .iwd_container p, .iwdav_modal .iwd_container{color:#343030;font-size:13px;line-height:18px;font-family:arial;}
.iwdav_modal .iwd_container p{text-align:center;font-size:14px;}
.iwdav_modal .iwd-buttons-set{padding:10px 20px 23px;margin:0 auto;text-align:center;}
.iwdav_modal .iwd-buttons-set .iwd-button{
border:1px solid #7b7475;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);
-moz-box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);
box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);	

color:#fff;font-size:13px;font-weight:bold;text-align:center;line-height:27px;
text-shadow:1px 1px #1a1a1a;padding:0 22px;text-transform:uppercase;cursor:pointer;

	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8c8c8a), to(#6f6f6f)) !important;
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* Opera */ 
	background: -o-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* W3C Markup, IE10 Release Preview */
	background: linear-gradient(to bottom, #8c8c8a, #6f6f6f) !important;
	/* IE10 Consumer Preview */
	background: -ms-linear-gradient(top, #8c8c8a 0%, #6f6f6f 100%) !important;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8a', endColorstr='#6f6f6f',GradientType=0 ) !important; /* IE6-9 */
}
.iwdav_modal .iwd-buttons-set .iwd-button:hover{
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#5f5f5f), to(#3f3f3f)) !important;
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* Opera */ 
	background: -o-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* W3C Markup, IE10 Release Preview */
	background: linear-gradient(to bottom, #5f5f5f, #3f3f3f) !important;
	/* IE10 Consumer Preview */
	background: -ms-linear-gradient(top, #5f5f5f 0%, #3f3f3f 100%) !important;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#3f3f3f',GradientType=0 ) !important; /* IE6-9 */
}

.iwd-verification-title{padding:1px;}

.iwd-verification-title .iwd-head{
    line-height: 20px;
    background-color:#e8e7e3;
    padding: 10px 18px;
	text-align:center;
	margin:0;
	font-size:18px;
	color:#343030;
	font-weight:bold;
	font-family:arial;
	
}

.va_label{padding-top:5px;text-align:center;}
.va_choices{padding-top:10px;margin-bottom:10px;}
.va_choice_row{text-align:left;}
.va_choice{float:left;}
.va_choice input{margin-top:-2px;margin-right:5px;}
.va_info{float:left;text-align:left;}

.bs_tit{font-size:14px;font-weight:bold;margin-bottom:5px;}

.iwdPopupOverlay{position:fixed;width:100%;height:100%;top:0px;left:0px;opacity:0.3;z-index:9998;background-color:rgb(0, 0, 0);
filter: alpha(opacity = 30);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";-moz-opacity: 0.3;-khtml-opacity: 0.3;}

.iwdav_modal{width:100%;max-width:300px;}
.va_choice{width:20px;}
.va_info{width:85%;}

@media (min-width: 330px) {
	.va_info{width:90%;}
}
@media (min-width: 360px) {
	.iwdav_modal{width:95%;max-width:320px;}
}
@media (min-width: 400px) {
.iwdav_modal{max-width:360px;}
}
@media (min-width: 480px) {
	.iwdav_modal{width:400px;max-width:400px;}
	.va_choice{width:25px;}
	.va_info{width:305px;}
}