<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Productiveminds_Core>
            <version>0.2.6</version>
        </Productiveminds_Core>
    </modules>
    <adminhtml>
    	<layout>
            <updates>
                <productivemindscore>
                    <file>productiveminds/core.xml</file>
                </productivemindscore>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
   			<productivemindscore_admin>
			    <use>admin</use>
			    <args>
			     	<module>Productiveminds_Core</module>
			     	<frontName>productivemindscore_admin</frontName>
			    </args>
   			</productivemindscore_admin>
        </routers>
    </admin>
    <global>
        <helpers>
            <productivemindscore>
                <class>Productiveminds_Core_Helper</class>
            </productivemindscore>
        </helpers>
        <blocks>
            <productivemindscore>
                <class>Productiveminds_Core_Block</class>
            </productivemindscore>
        </blocks>
        <models>
            <productivemindscore>
                <class>Productiveminds_Core_Model</class>
            </productivemindscore>
        </models>
    </global>
    <default>
    	<productivemindscore_sectns>
			<contactus>
                <text>
                	<![CDATA[For all enquiries about our modules, feel free to <a href='http://www.productiveminds.com/contacts' onclick='window.open(this.href); return false;'>contact us here</a>.]]>
                </text>
            </contactus>
		</productivemindscore_sectns>
	</default>
</config>