<?xml version="1.0"?>
<config>
    <modules>
        <Pksr_Socialwall>
            <version>0.1.0</version>
        </Pksr_Socialwall>
    </modules>
    <global>
        <models>
            <pksr_socialwall>
                <class>Pksr_Socialwall_Model</class>
            </pksr_socialwall>
        </models>
		<helpers>
            <socialwall>
                <class>Pksr_Socialwall_Helper</class>
            </socialwall>
        </helpers>
		<blocks>
			<socialwall>
                <class>Pksr_Socialwall_Block</class>
            </socialwall>
		</blocks>
    </global>
    <default>
        <tab1>
            <general>
				<stream_days>30</stream_days>
				<stream_limit>50</stream_limit>
				<stream_max>days</stream_max>
				<stream_external>true</stream_external>
				<animation_speed>600</animation_speed>
				<stream_height>520</stream_height>
				<stream_wall>false</stream_wall>
				<stream_filter>true</stream_filter>
				<stream_controls>true</stream_controls>
				<stream_cache>true</stream_cache>
				<container>dcsns</container>
				<cstream>stream</cstream>
				<stream_content>dcsns-content</stream_content>
				<stream_debug>false</stream_debug>
            </general>
        </tab1>
    </default>
</config>