<?xml version="1.0"?>
<config>
    <modules>
        <Boost_Pay>
            <version>0.1.0</version>
        </Boost_Pay>
    </modules>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Boost_Pay</module>
                    <frontName>boost_pay</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <pay>
                    <file>pay.xml</file>
                </pay>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <boost>
                <class>Boost_Pay_Model</class>
                <resourceModel>boost_mysql4</resourceModel>
            </boost>
            <boost_mysql4>
                <class>Boost_Pay_Model_Mysql4</class>
                <entities>
                    <pay>
                        <table>boost</table>
                    </pay>
                </entities>
            </boost_mysql4>
        </models>
        <resources>
            <pay_setup>
                <setup>
                    <module>Boost_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pay_setup>
            <pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pay_write>
            <pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pay_read>
        </resources>
        <blocks>
            <boost>
                <class>Boost_Pay_Block</class>
            </boost>
        </blocks>
        <helpers>
            <boost>
                <class>Boost_Pay_Helper</class>
            </boost>
        </helpers>
    </global>
    <default>
        <payment>
            <boost>
                <active>1</active>
                <model>boost/pay</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Boost Payment Method</title>
            </boost>
         </payment>
    </default>
</config>
