<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Productiveminds_Sitesecurity>
            <version>0.1.8</version>
        </Productiveminds_Sitesecurity>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sitesecurity>
                    <file>productiveminds/sitesecurity.xml</file>
                </sitesecurity>
            </updates>
        </layout>
    </adminhtml>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sitesecurity after="Mage_Adminhtml">Productiveminds_Sitesecurity</sitesecurity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
 	<frontend>
 		<layout>
            <updates>
                <sitesecurity>
                    <file>productiveminds/sitesecurity.xml</file>
                </sitesecurity>
            </updates>
        </layout>
 		 <routers>
            <sitesecurity>
                <use>standard</use>
                <args>
                    <module>Productiveminds_Sitesecurity</module>
                    <frontName>sitesecurity</frontName>
                </args>
            </sitesecurity>
        </routers>
        <events>
        	<sales_order_place_after>
                <observers>
                    <sitesecurity>
                        <class>sitesecurity/observer</class>
                        <method>saveAfterCustomerOrder</method>
                    </sitesecurity>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch>
            	<observers>
                    <sitesecurity>
                        <type>singleton</type>
                        <class>sitesecurity/observer</class>
                        <method>blockAllSpecified</method>
                    </sitesecurity>
                </observers>
         	</controller_action_predispatch>
        </events>
    </frontend>
    <global>
        <models>
            <sitesecurity>
                <class>Productiveminds_Sitesecurity_Model</class>
                <resourceModel>sitesecurity_mysql4</resourceModel>
            </sitesecurity>
             <sitesecurity_mysql4>
                <class>Productiveminds_Sitesecurity_Model_Mysql4</class>
                <entities>
                    <visitor>
                        <table>pms_sitesecurity_visitor</table>
                    </visitor>
                    <acl>
                        <table>pms_sitesecurity_acl</table>
                    </acl>
                    <action>
                        <table>pms_sitesecurity_action</table>
                    </action>
                    <blacklist>
                        <table>pms_sitesecurity_blacklist</table>
                    </blacklist>
                    <country>
                        <table>pms_sitesecurity_country</table>
                    </country>
                    <countrycat>
                        <table>pms_sitesecurity_countrycat</table>
                    </countrycat>
                    <countrystore>
                        <table>pms_sitesecurity_countrystore</table>
                    </countrystore>
                    <sitesecure>
                        <table>pms_sitesecurity_sitesecure</table>
                    </sitesecure>
                </entities>
            </sitesecurity_mysql4>
	        <review_resource>
	            <rewrite>
	                <review>Productiveminds_Sitesecurity_Model_Resource_Review</review>
	                <review_product_collection>Productiveminds_Sitesecurity_Model_Resource_Review_Product_Collection</review_product_collection>
	            </rewrite>
	        </review_resource>
        </models>
        <resources>
            <sitesecurity_setup>
                <setup>
                    <module>Productiveminds_Sitesecurity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitesecurity_setup>
            <sitesecurity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitesecurity_write>
            <sitesecurity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitesecurity_read>
        </resources>
        <blocks>
            <sitesecurity>
                <class>Productiveminds_Sitesecurity_Block</class>
            </sitesecurity>
            <adminhtml>
                <rewrite>
                    <review_grid>Productiveminds_Sitesecurity_Block_Adminhtml_Review_Grid</review_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sitesecurity>
                <class>Productiveminds_Sitesecurity_Helper</class>
            </sitesecurity>
        </helpers>
        <template>
            <email>
                <sitesecurity_sectns_sitesecurity_grps_email_template translate="label" module="sitesecurity">
                    <label>ProductiveMinds SiteSecurity Email Template</label>
                    <file>productiveminds/sitesecurity.html</file>
                    <type>text</type>
                </sitesecurity_sectns_sitesecurity_grps_email_template>
            </email>
        </template>
    </global>
    <default>
    	<sitesecurity_sectns>
			<sitesecurity_grps>
				<enabled>0</enabled>
				<crawler_agents>Googlebot,Googlebot 2.1,Googlebot-Mobile,Mediapartners-Google,AdsBot-Google,Yahoo! Slurp,msnbot</crawler_agents>
				<email_daily_report>0</email_daily_report>       
			</sitesecurity_grps>
			<acl_xss>
				<xss_queries>document.</xss_queries>
				<xss_action_type>blankpage</xss_action_type>
			</acl_xss>
			<acl_country>
				<blacklisted_country_action_type>blankpage</blacklisted_country_action_type>
			</acl_country>
			<acl_ipaddress>
				<blacklisted_ip_action_type>blankpage</blacklisted_ip_action_type>
			</acl_ipaddress>
			<geo_ip>
				<country>1</country>
				<country_file>GeoIP.dat</country_file>
			</geo_ip>
		</sitesecurity_sectns>
	</default>
	<crontab>
        <jobs>
            <sitesecurity_generate>
                <schedule>
                	<!-- Run every day at 7:15 am -->
                   	<cron_expr>15 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitesecurity/cron::mailDeniedAttemps</model>
                </run>
            </sitesecurity_generate>
            <sitesecurity_updatevisitor>
                <schedule>
                	<!-- run at even hours of the day -->
                    <cron_expr>0 0,2,4,6,8,10,12,14,16,18,20,22 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitesecurity/cron::updateVisitor</model>
                </run>
            </sitesecurity_updatevisitor>
            <sitesecurity_cleanhouse>
                <schedule>
                	<!-- run at 00:00Hrs on the 1st day of every month -->
                    <cron_expr>0 3 1 * *</cron_expr>
                    <!-- run at 00:00Hrs on the 1st day of every month -->
                </schedule>
                <run>
                    <model>sitesecurity/cron::cleanHouse</model>
                </run>
            </sitesecurity_cleanhouse>
        </jobs>
    </crontab>
</config>